/*VARIABLES*/

$container: 980px;

/*Primaries*/

$orange:hsl(35, 77%, 62%);
$red:hsl(5, 85%, 63%);

/*Neutral*/

$black:hsl(0, 0%, 5%);
$white:hsl(36, 100%, 99%);
$blue: hsl(233, 8%, 79%);
$blue-dark:hsl(236, 13%, 42%);
$blue-darkest:hsl(240, 100%, 5%);


@import url('https://fonts.googleapis.com/css?family=Inter:400');

html {font-size: 15px ;} /*16px*/



*, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*Type*/

body {
  font-family: 'Inter', sans-serif;
  color: $black;
}

h1, h2, h3{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

p, a {font-size: 1rem; color: $blue-dark; text-decoration: none;}
h3 {font-size: 1rem;}
h2 {font-size: 1.7rem;}
h1 {font-size: 2.3rem;}

a{
    cursor: pointer;
}

a:hover{
    color: $orange;
    h3{
        color: $orange;
    }
}

.container{
    display: grid;
    max-width: $container;
    min-width: 380px;
    margin: auto;
    grid-template-areas:"main main new" "main main new" "trending trending trending";
    gap:3rem;
    main ,.new ,.trending{
        display: flex;
        gap:1.5rem;
    }
}

/*NAV DESKTOP*/

nav{
    height: 12vh;
    .nav-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: $container;
        margin: auto;
        height: 100%;
            aside{
                width: 100%;
                display: flex;
                justify-content: end;
                .menu-icons{
                    display: none;
                    .icon{
                        cursor: pointer;
                        height: 32px;
                        width: 32px;
                }
                }
                .menu-links{
                    display: flex;
                    gap: 2rem;
                }
            }
    }
}


/*Buttons*/

button{
    outline: none;
    border: none;
    padding: 1rem;
    background: $red;
    max-width: 200px;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 3px;
    :hover{
        background: $white;
        color: $black;
    }
}

/*MAIN*/

main{
    flex-direction: column;
    grid-area: main;
    height: min-content;
    img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
    }
}

/*NEW*/

.new{
    grid-area: new;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5rem 1.5rem;
    background: $blue-darkest;
    height: min-content;
    .row{
        display: grid;
        gap: 0.5rem;
    }
    .row:not(:last-of-type){
        padding-bottom: 2rem;
        border-bottom: solid 1px $blue;
    }
    h2{
        font-size: 3rem;
        color: $orange;
    }
    h3{
        color: $white;
    }
    p{
        color: $blue-dark;
    }
}

/*TRENDING*/

.trending{
    grid-area: trending;
    display: flex;
    .row{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
        img{
            width: 100%;
            height: 100%;
        }
        .trending-text{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.footer{
    text-align: center;
    color: $white;
    margin-top: 3rem;
    background: $black;
    padding: 1.5rem;
    a{
        color: $white;
    }
}

   /*----------------- MOBILE ---------------------*/


@media only screen and (max-width: $container) {

 
        .container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        max-width: $container;
        min-width: 380px;
        padding-top: 10vh;
        margin: auto;
        gap:3rem;
        main ,.new ,.trending{
            display: flex;
            gap:1.5rem;
        }
    }
    
    /*NAV MOBILE*/

nav{
    width: 100%;
    position: absolute;
    z-index: 99;
    height: 12vh;
    .nav-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        max-width: $container;
        margin: auto;
        height: 100%;
        .logo{
            margin: 1rem;
        }
            aside{
                background: $white;
                color: $black;
                width: 100%;
                // height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: start;
                .menu-icons{
                    padding: 0 2rem 0 0;
                    height: 0; //this sets the space / padding-top of the menu-links
                    position: relative;
                    display: flex;
                    width: 100%;
                    justify-content: end;
                    .icon{
                        margin-block: 1rem;
                        position: absolute;
                        top:0;
                        height: 32px;
                        width: 32px;
                }
                .icon-open{
                    display: block;
                }
                .icon-close{
                    display: none;
                }
                }
                .menu-links{
                    display: none;
                    padding: 8rem 0 0 2rem;
                    flex-direction: column;
                    height: 100vh;
                    width: 60vw;
                    bottom: 0;
                    gap: 2rem;
                }
            }
    }
}

    
    /*MAIN MOBILE*/
    
    main{
        padding-inline: 1rem;
        flex-direction: column;
        img{
            width: 100%;
            max-height: 250px;
            object-fit: cover;
        }
    }
    
    /*NEW MOBILE*/
    
    .new{
        grid-area: new;
        flex-direction: column;
        justify-content: space-around;
        padding: 1.5rem;
        background: $blue-darkest;
        .row{
            display: grid;
            gap: 0.5rem;
        }
        .row:not(:last-of-type){
            padding-bottom: 2rem;
            border-bottom: solid 1px $blue;
        }
        h2{
            font-size: 3rem;
            color: $orange;
        }
        h3{
            color: $white;
        }
        p{
            color: $blue-dark;
        }
    }
    
    /*TRENDING MOBILE*/
    
    .trending{
        padding-inline: 1rem;
        flex-direction: column;
        .row{
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 1rem;
            img{
                width: 100%;
                height: 100%;
            }
            .trending-text{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    
    .footer{
        display: none;
        text-align: center;
        color: $white;
        margin-top: 3rem;
        background: $black;
        padding: 1rem;
        a{
            color: $white;
        }
    }
}